@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global styles */
body {
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
    max-width: 600px;
    padding: 0 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
}

h3 {
    font-size: 1.1rem;
    padding-bottom: 0.25rem;
}

h4 {
    font-size: 1rem;
    color: #293045;
    padding-bottom: 0.25rem;
}

p {
    font-size: 1.1rem;
    color: #293045;
    line-height: 1.6rem;
    padding-top: 1rem;
}

input,
button {
    outline: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 3rem 0;
}

/* Product Details */
.details {
    padding: 0 1.5rem;
}

.details h2 {
    animation-delay: 0.2s;
}
.details p {
    animation-delay: 0.3s;
}

/* Product Configuration */
.config {
    padding: 2.5rem 0;
}

.config > div:first-child {
    animation-delay: 0.4s;
}
.config > div:nth-child(2) {
    animation-delay: 0.5s;
}
.config > div:last-child {
    animation-delay: 0.6s;
}

.config > div:not(:last-child) {
    padding-bottom: 2.5rem;
}

.config button {
    font-size: 1rem;
    color: #293045;
    background-color: inherit;
    padding: 0.6rem;
    margin: 0.25rem 0;
    border: 2px solid #293045;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.config button:hover {
    background-color: #7aaaf8;
    border-color: #7aaaf8;
    color: white;
}

.config .active,
.config .active:hover {
    background-color: #4c89e9;
    border-color: #4c89e9;
    color: white;
}

/* Pricing */
.pricing {
    margin-bottom: 1rem;
    animation-delay: 0.7s;
}

.pricing > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    padding: 0.5rem 0;
}

.pricing > div:last-child {
    border-top: 2px solid black;
}

.promo {
    animation-delay: 0.9s;
}

.promo > div {
    width: 50%;
    display: flex;
}

.promo input {
    font-size: 1.2rem;
    padding: 0.6rem;
    width: calc(100% - 80px);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.promo button {
    width: 80px;
    background-color: #4c89e9;
    color: white;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.promo button:hover {
    background-color: #7aaaf8;
}

/* Promo Message */
.message {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    transition: 0.2s ease;
}

.success {
    background-color: #4ac860;
    bottom: -500px;
}

.danger {
    background-color: #dc3545;
    bottom: -500px;
}

.warning {
    background-color: #f7c600;
    bottom: -500px;
}

/* grand-total */
.grand-total {
    animation-delay: 1s;
    border-top: 1px solid #e4e4e4;
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 2rem;
    margin-top: 1.5rem;
}

/* Media Queries */
@media (max-width: 968px) {
    .container {
        grid-template-columns: 1fr;
    }
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 668px) {
    .pricing > div,
    .promo > div {
        width: 100%;
    }
}
